<!-- post_detail.html -->

{% extends "base.html" %}

{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <p class="mr-2">{{ object.author }}</p>
            <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            {% if object.author == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.position }} at {{ object.company_name }}</h2>
        <p class="article-content">{{ object.description }}</p>
        <p><strong>Company Name:</strong> {{ object.company_name }}</p>
        <p><strong>Company Image:</strong> <img src="{{ object.company_image.url }}" alt="{{ object.company_name }}"></p>
        <p><strong>Position:</strong> {{ object.position }}</p>
        <p><strong>Salary:</strong> {{ object.salary }}</p>
        <p><strong>Deadline:</strong> {{ object.deadline }}</p>
        <p><strong>Required Skills:</strong> {{ object.required_skills }}</p>
        <p><strong>Location:</strong> {{ object.location }}</p>
    </div>
</article>
{% endblock %}
